body{
  /*background-color: #284a82;*/
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  max-width: 80%;
  margin: auto;
}

.dog-image {
  max-width: 33%;
  max-height: 33%;
  padding-bottom: 3px;
}

#title {
  font-family: 'Cinzel Decorative', cursive;
  text-align: center;
  font-size: 75px;
}

#title-container {
  margin: auto;
  width: 60%;
}
